@page
@model IndexModel
@{
    ViewData["Title"] = "Contoso University";
}

<section style="width:80%;margin-left:auto;margin-right:auto;">
<h1 style="text-align:center;" class="display-3">Contoso University<br />Home of the Condors</h1>
    <img src="images/campus-347285_640.jpg" alt="campus" style="max-height:200px;"/>
    <img src="images/football-461340_640.jpg" alt="football" style="max-height:200px;"/>
    <img src="images/library-2507902_640.jpg" alt="library" style="max-height:200px"/>
</section>